*.pb.cc
*.pb.h
*.la

*.tar.bz2
.deps/
.libs/

gtest-1.5.0/Makefile
gtest-1.5.0/build-aux/config.h
gtest-1.5.0/build-aux/stamp-h1
gtest-1.5.0/config.log
gtest-1.5.0/config.status
gtest-1.5.0/libtool
gtest-1.5.0/scripts/gtest-config
gtest-1.5.0/src/.dirstamp
protobuf/Makefile
protobuf/config.h
protobuf/config.log
protobuf/config.status
protobuf/libtool
protobuf/protobuf-lite.pc
protobuf/protobuf.pc
protobuf/src/Makefile
protobuf/src/protobuf-lazy-descriptor-test
protobuf/src/protobuf-lite-test
protobuf/src/protobuf-test
protobuf/src/protoc
protobuf/src/test_plugin
protobuf/src/testzip.jar
protobuf/src/testzip.list
protobuf/src/testzip.proto
protobuf/src/testzip.zip
protobuf/src/unittest_proto_middleman
protobuf/src/zcgunzip
protobuf/src/zcgzip
protobuf/stamp-h1
