1. For Domain Class(D)
* typedef Ref for shared_ptr<D>
# have member function: 
	void sets(P );
# have member function:
	void load();
# have member function:
	void load(Database* );

2. For Domain Class's Parameter Class(P)
* typedef Ref for shared_ptr<D>, this can be completed by
	typedef D::Ref Ref;
* typedef RCRef for shared_ptr<RefCounter<D> >, this can be completed by
	typedef D::RCRef RCRef;
% static const value:
	UniStr table_name
% static const value, stands for Reference Counter object contained by Category object:
	D::RCRef Category::*rc
